.starRating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.halfFilled {
    position: relative;
    display: inline-block;
}

.halfFilled:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: white;
}